body{
    font-family: Roboto, sans-serif;
}

#top-cont{
    background-color: #E58525;
}

.top-wrapper{
    text-align: center;
}
.form{
    margin-top: 50px;
}

.login-holder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.login{
    display:block;
}
.toggle-login{
    display: inline-block;
}
.error{
    color: red;
}